* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    background-color:#a14646;
    margin:0;
    padding:0;
}

#header {
background-color:#a14646;
margin:0;
padding:1rem 8rem 1rem 8rem;
}

#header h1 {
    text-transform:uppercase;
    color: #ffffff;
    letter-spacing:3pt;
    font-size:36pt;
}

#navbar {
background-color:#ecb6b6;
display:flex;
justify-content:flex-end;
margin:0px;
padding:0px;
}

#navbar li {
    list-style-type: none;
    margin:0;
    display:inline-block;
    height:100%;
}

#navbar ul {
    height:100%;
    margin:0;
}

#navbar li:hover {
    background-color:#cc7f7f;
    transition:.4s;
}

#navbar li a {
font-size:14pt;
letter-spacing: 2pt;
font-weight:bold;
text-decoration:none;
text-transform:uppercase;
color:#a14646;
display:flex;
padding:2rem 4rem 2rem 4rem;
}

#navbar li a:hover {
    color: #ffffff;
    transition:.4s;
}


#main {
    background-color:#ffffff;
    color: #444444;
    margin:8rem;
    padding:4rem;
    min-height:40vh;

}

#content {
    height:100%;
    margin:4rem;
}

#content h1 {
font-size:24pt;
font-weight:bold;
color:#a14646;
margin-top:3rem;
}

#content p {
line-height:160%;
}

#footer {
    background-color:#ecb6b6;
    display:flex;
    justify-content:center;
    margin:0;
    padding:1rem;
    color:#a14646;
}

.text {
    text-indent:3rem;
}

.citation {
    text-indent:-3rem;
    margin-left:3rem;
}
